*{
    background-color: #F1F9F1
}

.images{
    display: flex;
}

.headings{
    color: #F4E1C1;
    text-align: center;
    background-color: #6B8E23;
    border:2px solid #2F4F2F;
    margin: 8px;
}

.subheadings{
    text-align: center;
    color: #9E9A8A;
}

h1{
    background-color: #6B8E23;
}

.list{
    text-align: center;
}

ul{
    display: inline-block;
    text-align: left;
}

ol{
    display: inline-block;
    text-align: left;
}

a{
    color: #3C4E41;
}

.card{
    display: inline-block;
}

img{
    display: block;
    margin: auto;
}

p{
    text-align: center;
    color:#3C4E41;
}

.ilist{
    text-align: center;
    
}

ul.ilist{
    display: inline-block;
    text-align: left;
}

span{
    display: inline-block;
}

li{
    color: #3C4E41;
}

